html,
body {
  margin: 0;
  padding: 0;
  font-family: Tahoma;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
a,
div,
p {
  margin: 0;
  padding: 0;
  font-family: "Tahoma";
  font-size: 14px;
  font-weight: normal;
  list-style: none;
  text-decoration: none;
  color: #000000;
}
table,
th,
tr,
td {
  border-collapse: collapse;
  border: 1px solid #2980b9;
  background-color: #2980b9;
  padding-left: 0px;
  padding-right: 0px;
  border-left: 0px;
  border-right: 0px;
}
